[package]
name = "migrant_lib"
version = "0.33.0"
authors = ["James Kominick <james@kominick.com>"]
description = "Database migration and configuration library for postgres, sqlite, mysql"
repository = "https://github.com/jaemk/migrant_lib"
keywords = ["database", "migration", "postgres", "sqlite", "mysql"]
categories = ["database", "development-tools"]
license = "MIT"
readme = "README.md"

exclude = [
    "/ci/*",
    "/db/*",
    "/migrations/*",
    "Migrant.toml",
    ".travis.yml",
]

[dependencies]
error-chain = "0.12"
chrono = "0.4"

lazy_static = "1"
regex = "1"
walkdir = "2"
serde = "1"
serde_derive = "1"
serde_json = "1"
toml = "0.5"
percent-encoding = "2"
url = "2"
log = "0.4"
postgres = { version = "0.19", optional = true }
native-tls = { version = "0.2", optional = true }
postgres-native-tls = { version = "0.5", optional = true }
rusqlite = { version = "0.25", optional = true }
mysql = { version = "20", optional = true }

[features]
default = []
d-sqlite = ["rusqlite"]
d-postgres = ["postgres", "postgres-native-tls", "native-tls"]
d-mysql = ["mysql"]
d-all = ["d-sqlite", "d-postgres", "d-mysql"]

